.catalog-form {
  background-color: @main-color;
  font-family: @main-font;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

}

.catalog-form__title {
  .font-title;

}

.catalog-form__intro {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 436px;
  }
}

