.form-content {
  background-color: @main-color;
  font-family: @main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;

}

@media (min-width: @tablet-width) {
  .form-content {
  &--name {
    width: 50%;
    text-align: left;
  }

  &--contacts {
    width: 50%;
    text-align: left;
  }
}
}

.form-content__title {
  .font-title;
  text-transform: uppercase;
}

.form-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-content__item {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;

}
