.main-footer {



}

.main-footer__wrapper {
  padding: 33px 82px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
  }

}

.main-footer__social {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

}

.main-footer__copyright {

}
