.main-footer {



}

.main-footer__wrapper {
  padding: 33px 82px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

}

.main-footer__social {
  margin-bottom: 30px;

}

.main-footer__copyright {

}
