.main-nav {
  background-color: @main-color;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
}
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list a {
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: 768px;
  }
  .main-nav__list a {
    color: @text-color;
  }
  .main-nav__toggle {
    display: none;
  }

}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
  width: 1200px;
}

.main-nav__toggle {
  display: none;
}
}
