.photo-item {
  font-family: @main-font;
  font-size: 14px;
  line-height: 21px;
  text-align: start;


}

.photo-item__name {
  font-weight: 700;
}

.photo-item__img {
  padding: 24px 20px 15px 20px;
}
