.reasons {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.reasons__wrapper {
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
   flex-wrap: wrap;

  }

}

.reasons__title {
 .font-title;
 margin: 0;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin: 0 auto;

  }

  @media (min-width: @desktop-width) {
    width: 484px;
    margin: 0 auto;
}
}

.reasons__intro {
  margin: 0;
}

.reasons__item {
background-color: @main-color;
  color: #000000;

}
