.reasons-item {
  @media (min-width: @tablet-width) {
    width: 33%;
  }

  &--accent {
    background-color: @elements-color;
    color: #ffffff;
    padding: 37px 18px;
    box-sizing: border-box;
    text-align: center;

    @media (min-width: @tablet-width) {
      padding: 52px 33px 31px 33px;
      box-sizing: border-box;
    }

    @media (min-width: @desktop-width) {
      padding: 52px 50px;
    }
  }

  &--image {
    display: flex;

    @media (min-width: @tablet-width) {
      width: 66%;
    }
  }

  &--home {
    background-image: url("../img/main-graphics/icon-home.svg");
    background-repeat: no-repeat;
    background-position: top 15px left 18px;
    padding: 23px 18px 0px 65px;

    @media (min-width: @tablet-width) {
      padding: 158px 33px 60px 33px;
      text-align: center;
      background-position: top 25% left 50%;
      background-image: url("../img/main-graphics/icon-house-tablet.svg");
    }
  }

  &--food {
    background-image: url("../img/main-graphics/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: top 15px left 18px;
    padding: 25px 18px 0px 65px;

    @media (min-width: @tablet-width) {
      padding: 158px 33px 60px 33px;
      text-align: center;
      background-position: top 25% left 50%;
      background-image: url(../img/main-graphics/icon-burger-tablet.svg);
    }
  }

  &--souvenirs {
    background-image: url(../img/main-graphics/icon-souvenirs.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 18px;
    padding: 25px 18px 49px 65px;

    @media (min-width: @tablet-width) {
      padding: 158px 33px 60px 33px;
      text-align: center;
      background-position: top 25% left 50%;
      background-image: url("../img/main-graphics/icon-gift-tablet.svg");
    }
  }

  &--select {
    background-color: @secondary-color;
    padding: 24px 18px;
    text-align: center;
    gap: 24px;

    @media (min-width: @tablet-width) {
      padding: 60px 33px 60px 33px;
    }
  }
}

.reasons-item__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 0;

  &--accent {
    text-align: center;
  }
}

.reasons-item__numbers {
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }
}

.reasons-item__description {
  margin-bottom: 0;
  margin-top: 17px;
}

.reasons-item__picture {
  width: 100%;
  display: flex;
}
