.reasons {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons__item {
background-color:  @secondary-color;
  color: #000000;

  &--accent {
    background-color: @elements-color;
    color: #ffffff;
  }

}
