.search {
  font-family: @main-font;
  font-size: @main-size;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.search__description {
  margin-bottom: 35px;
}
.search__wrapper {
  padding: 38px 18px 49px 18px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 58px 162px 66px 161px;

  }

  @media (min-width: @desktop-width) {

  }
}

.search__hotels  {
display: inline-block;
padding: 16px 49px;
box-sizing: border-box;
width: 284px;

@media (min-width: @tablet-width) {
  width: 458px;

}

@media (min-width: @desktop-width) {

}
}
