.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0;
  }
}

.site-list__link {
  font-family: @main-font;
  font-size: @main-size;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

}

.site-list__item {


  @media (min-width: @tablet-width) {
    padding: 18px 47px 17px 48px;

    &--current {
      background-color: @color-current;
    }
  }
}
