.social {
  background-color: @main-color;
  margin: 0;

}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 10px;
  }
}

.social__item {
width: 48px;
height: 48px;
background-color: @elements-color;
gap: 10px;
}
