.welcome-picture {
  width: 320px;
  height: 389px;
  background-image: url("../img/main-grafic/mountain-back.jpg");
  background-repeat: no-repeat;
  margin: auto, 100%;

}

.welcome-picture__img {
  margin-top: 90px;
  margin-left: 19px;
}
