.welcome-picture {
  width: 320px;
  height: 159px;
  background-image: url("../img/catalog-grafic/back-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 32px;

  &--full-version {
    background-image: url("../img/main-grafic/mountain-back.jpg");
    height: 350px;
    background-repeat: no-repeat;
    margin-bottom: 47px;
  }

}

.welcome-picture__img {
  margin: 52px 45px 67px 45px;

  &--full-image {
    margin: 90px 19px 85px 19px;
  }

}
