.welcome-picture {
  background-color: @text-color;
  height: 158px;
  background-image: url("../img/catalog-grafic/back-catalog-desktop.jpg");
  background-repeat: no-repeat;
  margin-bottom: 32px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-grafic/back-catalog-desktop@2x.jpg");
    background-size: 320px auto;
  }

  &--full-version {
    height: 389px;
    margin-bottom: 47px;
    background-image: url("../img/main-grafic/photo/back-index-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-grafic/photo/back-index-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: @tablet-width) {
      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-grafic/photo/back-index-tablet@2x.jpg");
        background-size: 768px 518px;
      }
    }
  }
}

.welcome-picture__img {
  margin: 52px 45px 67px 45px;

  &--full-image {
    margin: 90px 19px 85px 19px;

    @media (min-width: @tablet-width) {
      margin: 95px 140px 117px 155px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 450px
    }
  }

  @media (min-width: @tablet-width) {
    margin: 95px 140px 117px 155px;
  }

  @media (min-width: @desktop-width) {
    margin: 101px 371px 117px 369px;
  }
}

@media (min-width: @tablet-width) {
  .welcome-picture {
    background-image: url("../img/catalog-grafic/back-catalog-tablet.jpg");
    margin-bottom: 64px;
    height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-grafic/back-catalog-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
}


@media (min-width: @desktop-width) {
  .welcome-picture {
    background-image: url("../img/catalog-grafic/back-catalog-mobile.jpg");
    margin-bottom: 64px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-grafic/back-catalog-mobile@2x.jpg");
      background-size: cover;
    }
  }
}
