//базовые стили//

.button {
  .button-text;
  font-family: @main-font;
  background-color: @elements-color;
  color: @main-color;
  text-decoration: none;
  border: none;


 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
 }

